*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color:#fff;
}
html {
    height: -webkit-fill-available;
}

header {
    background-color:black;
    color:#fff;
    width:100%;
    padding:15px;
    border-bottom: 2px solid #dc3545;
}

/* SITE WIDE TEXT OPTIONS */

h1, h2, h3 {
    text-align: center;
}

a:hover {
    color: #dc3545
}

.tiny-text {
    font-size:.8em;
    position:relative;
    bottom:-30px;
    text-align:center;
}

.tiny-text a {
    text-decoration:none;
    color:rgba(255,255,255,.55);
    transition:.15s;
}

.tiny-text a:hover {
    color:rgba(255,255,255,.75);
}

.error {
    color:#dc3545;
}

.text-center a {
    color:#fff;
}

/* NAV ITEMS */
.site-logo {
    max-width:100%;
    width:250px;
    margin-left:-25px;
}

.navbar-nav form {
    padding-top:5px;
}

.nav-login-input {
    width:110px;
    margin:2px;
}

input.nav-login-input, input.nav-login-input::placeholder {
    font-size:13px;
}

.navbar-nav form .btn {
    line-height:1.1;
    background-color: #dc3545;
    border: .5px solid #dc3545;
}

.nav-item {
    margin: 0 10px
}

/* MAIN CONTENT */

#bg {
    min-height:90vh; /* this probably isn't the best option but it's a placeholder*/
    background-image: url(/images/yawning-portal.jpeg);
    background-position:center;
    background-size:cover;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 85vh;
}

.narrow-content {
    width: 600px;
    min-height:300px;
    max-width: 85vw;
    margin: 0 auto;
    background-color: rgba(0,0,0,.8);
    padding: 20px 40px 30px;
    text-align:center;
    border-radius:20px;
}

.wide-content {
    background: rgba(0,0,0,.7);
    padding: 20px 40px 30px;
    border-radius: 10px;
    width:950px;
    margin:0 auto;
    max-width:80vw
}

 /* LOGIN */

 .narrow-content form input, .narrow-content form textarea {
     width:250px;
     text-align:center;
     margin:2px;
 }

 .narrow-content h1 {
     margin-bottom:25px;
 }

 .field-label {
     margin-top:10px;
 }

 .narrow-content .edit-input {
     width:80%;
 }

/* FOOTER */

footer {
    background-color: #242424;
    color:#7e7e7e;
    font-size:.8em;
    bottom:0;
    width:100%;
    padding: 15px;
}

/* BUTTONS */

.btn {
    border-radius:0px;
}

.narrow-content .btn {
    margin-left: 3px;
    margin-right: 3px;
}

/* INDEX PAGE */

.welcome-msg {
    text-align:center;
    font-style:italic;
}

/* TABLE STYLES */

td a, thead a, thead {
    color:#fff;
    text-decoration: none;
}

.table>:not(:first-child) {
    border-top: 2px solid white;
}

.quick-links {
    width:90px;
    text-align:center;
}

.new-char {
    border-bottom:none;
}


@media (max-width: 767px) { 
    .site-logo {
        margin:0 auto;
        display:block;
    }

    #bg {
        background-position:right;
    }
}

@media (max-width: 991px) { 
    .nav-link {
        padding-top:15px;
    }
}