*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0
}

header {
    background-color:black;
    color:#fff;
    width:100%;
    padding:15px;
    border-bottom: 2px solid #dc3545;
}

/* NAV ITEMS */
.site-logo {
    max-width:100%;
    width:250px;
    margin-left:-25px;
}

.navbar-nav form {
    padding-top:5px;
}

.nav-login-input {
    width:110px;
    margin:2px;
}

input.nav-login-input, input.nav-login-input::placeholder {
    font-size:13px;
}

.navbar-nav form .btn {
    line-height:1.1;
    background-color: #dc3545;
    border: .5px solid #dc3545;
}

.nav-item {
    margin: 0 10px
}

/* MAIN CONTENT */

#bg {
    min-height:85vh; /* this probably isn't the best option but it's a placeholder*/
    background-image: url(/images/yawning-portal.jpeg);
    background-position:center;
    background-size:cover;
}



/* FOOTER */

footer {
    background-color: #242424;
    color:#7e7e7e;
    font-size:.8em;
    bottom:0;
    width:100%;
    padding: 15px;
}


@media (max-width: 767px) { 
    .site-logo {
        margin:0 auto;
        display:block;
    }
}